# Auto detect text files and perform line ending normalization
* text=auto eol=lf

# JS and TS files must always use LF for tools to work
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf

# CSS
*.css text eol=lf
*.scss text eol=lf

# HTML
*.html text eol=lf
*.svg text eol=lf

# Configs
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.editorconfig text eol=lf
.env.* text eol=lf

# Documentation
*.md text eol=lf
LICENSE text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary 